In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [4]:
base_credit = pd.read_csv('archive/credit_risk_dataset.csv')

In [ ]:
five_header = base_credit.head(5)

In [10]:
five_tail = base_credit.tail(5)

In [11]:
descrip = base_credit.describe()

In [ ]:
base_credit[base_credit['person_income'] == 69900]

In [ ]:
base_credit[base_credit['loan_amnt'] <= 980]

In [23]:
np.unique(base_credit['loan_status'], return_counts=True)

(array([0, 1]), array([25473,  7108]))

In [ ]:
sns.countplot(x = base_credit['loan_status']);

In [ ]:
plt.hist(x = base_credit['person_age']);

In [ ]:
plt.hist(x = base_credit['loan_amnt']);

In [ ]:
chart = px.scatter_matrix(base_credit, dimensions= ['person_age','person_income','loan_amnt'], color= 'loan_status')
chart.show()

In [ ]:
base_credit.loc[base_credit['person_age'] < 0]
base_credit[base_credit['person_age'] < 0]

In [ ]:
base_credit2 = base_credit.drop(base_credit[base_credit['person_age'] < 0].index)
base_credit2

In [ ]:
base_credit2.loc[base_credit2['person_age'] < 0]

In [ ]:
base_credit['person_age'].mean()

In [60]:
base_credit['person_age'][base_credit['person_age'] > 0].mean()

np.float64(27.73459992019889)

In [61]:
base_credit.loc[base_credit['person_age'] < 0] = 27.73

In [62]:
base_credit.isnull()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,False,False,False,False,False,False,False,False,False,False,False,False
32577,False,False,False,False,False,False,False,False,False,False,False,False
32578,False,False,False,False,False,False,False,False,False,False,False,False
32579,False,False,False,False,False,False,False,False,False,False,False,False
32580,False,False,False,False,False,False,False,False,False,False,False,False